-i https://pypi.org/simple
azure-functions==1.15.0
certifi==2023.7.22 ; python_version >= '3.6'
charset-normalizer==3.2.0 ; python_full_version >= '3.7.0'
idna==3.4 ; python_version >= '3.5'
pyjsend==0.2.2
requests==2.31.0
urllib3==2.0.4 ; python_version >= '3.7'
